:root {
    --text: #cdd6f4;
    --bg-col: #1e1e2e;
    --bg-dark: #11111b;
    --surface: #313244;
    --accent: #f5c2e7;
    --red: #f38ba8;
}

* {
    color: inherit;
    font-family: main, system-ui;
}

body {
    background: linear-gradient(45deg, var(--bg-dark) 0%, var(--bg-col) 100%);
    /*background: linear-gradient(to right, var(--accent), var(--bg-col));*/
    color: var(--text);
    font-family: main, system-ui;
}


.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(125%);
}

.center-x {
    left: 50%;
    text-align: center;
}

.fa-spinner {
    transform: rotate(0deg);
    animation: spin 1000ms linear infinite;
}


@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.fade-in {
    animation: fade-in 3s linear 1;
}

@keyframes fade-in {
    from {
        opacity: 0%
    }

    50% {
        opacity: 0%
    }

    to {
        opacity: 100%
    }
}


h1 {
    font-size: 2em;
}


input[type=text],
input[type=password],
button {
    background-color: var(--surface);
    border: none;
    border-radius: 5px;
    padding: 5px;
    width: 80%;
}

button {
    width: 60%;
    color: #cdd6f4;
    transition: background-color 200ms ease-out;
    cursor: pointer;
}

button:hover {
    background-color: #585b70;
}

input {
    font-family: monospace;
}
